<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #fff7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 600;
        }

        .container {
            /* #08ffc8 */
            background-color: #204969;
            width: 400px;
            height: 400px;
            text-align: center;
            margin-top: 50px;
        }

        p {
            font-size: 48px;
            color: #fff7f7;
            margin-top: 20px;
        }

        .form {
            width: 300px;
            padding: 20px;
            margin-top: 20px;
            margin-left: 30px;
        }

        .name {
            margin-bottom: 20px;
        }

        .email {
            margin-bottom: 20px;
        }

        .password {
            margin-bottom: 20px;
        }

        .tel {
            margin-bottom: 20px;
        }

        .btn {
            padding: 2px 30px;
            color: white;
            background-color: #08ffc8;
            font-weight: bold;
            font-size: 16px;
        }

        .register {
            background-color: #08ffc8;
            margin-top: 20px;
            width: 250px;
            padding: 5px 0;
            margin-left: 75px;
        }

        .register a {
            text-decoration: none;
            color: white;
        }
    </style>

</head>

<body>
    <div class="container">
        <p>Register</p>
        <form action="/register" method="post" class="form">
            <div class="name">
                <label for="name">姓名 :</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="email">
                <label for="email">信箱 :</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="password">
                <label for="password">密碼 :</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="tel">
                <label for="tel">電話 :</label>
                <input type="tel" id="tel" name="tel" required>
            </div>
            <button type="button" class="btn">註冊</button><br>
        </form>
        <div class="register"><a href="/login">登入</a></div>
    </div>
</body>

</html>